<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysUserMapper">
	
	<resultMap id="UserResultMap" type="com.my.user.model.SysUser" extends="com.my.common.dao.SysUsersMapper.BaseResultMap">
		<collection property="roles" javaType="ArrayList" column="USER_ID" select="findRoles" />
	</resultMap>
	
	<select id="findByUsername" parameterType="java.lang.String" resultMap="UserResultMap">
		SELECT
			*
		FROM 
			sys_users
		<where>
			USERNAME = #{username}
		</where>
	</select>
	
	<select id="findRoles" parameterType="java.lang.String" resultMap="com.my.common.dao.SysRolesMapper.BaseResultMap">
		SELECT
			t1.*
		FROM
			sys_roles t1
		JOIN
			sys_users_roles t2
		ON
			t1.ROLE_ID = t2.ROLE_ID
		WHERE
			t2.USER_ID = #{userId}
	</select>
	
</mapper>