<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysUserMapper">
	
	<resultMap id="UserResultMap" type="com.my.user.model.SysUser" extends="com.my.common.dao.SysUsersMapper.BaseResultMap">
		<collection property="roles" javaType="ArrayList" column="USER_ID" select="SysRoleMapper.findByUserId" />
	</resultMap>
	
	
	<!-- user role -->
	<insert id="insertUserRole" parameterType="HashMap">
		insert into sys_users_roles (ID,ROLE_ID, USER_ID)
		values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
	</insert>
	
	<select id="findUserRoleByUserIdAndRoleId" resultType="java.lang.String" parameterType="HashMap">
	SELECT 
	ID
	FROM
	sys_users_roles
	WHERE
	ROLE_ID = #{roleId}
	AND
	USER_ID = #{userId}
	</select>
	
	<select id="findByUsername" parameterType="java.lang.String" resultMap="UserResultMap">
		SELECT
			*
		FROM 
			sys_users
		<where>
			USERNAME = #{username}
		</where>
	</select>
	
</mapper>