<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserModel">
  <resultMap id="BaseResultMap" type="com.my.common.model.SysUsers">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="DEADLINE" jdbcType="TIMESTAMP" property="deadline" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="loginIp" />
    <result column="DEPARTMENT_ID" jdbcType="VARCHAR" property="departmentId" />
    <result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="ACCOUNT_NON_EXPIRED" jdbcType="CHAR" property="accountNonExpired" />
    <result column="ACCOUNT_NON_LOCKED" jdbcType="CHAR" property="accountNonLocked" />
    <result column="CREDENTIALS_NON_EXPIRED" jdbcType="CHAR" property="credentialsNonExpired" />
	</resultMap>
	
	<resultMap id="UserModelResultMap" type="com.my.user.model.UserModel" extends="BaseResultMap">
	<collection property="roles" javaType="ArrayList" column="USER_ID" select="getRoles" />
	</resultMap>
	
	<resultMap type="com.my.common.model.SysRoles" id="roleMap">
	    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
	    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
	    <result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
	    <result column="ENABLED" property="enabled" jdbcType="CHAR" />
	    <result column="IS_SYS" property="isSys" jdbcType="CHAR" />
	    <result column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getRoles" parameterType="java.lang.String" resultMap="roleMap">
		SELECT
			t1.*
		FROM
			sys_roles t1
		JOIN
			sys_users_roles t2
		ON
			t1.ROLE_ID = t2.ROLE_ID
		WHERE
			t2.USER_ID = #{id}
	</select>
	
	<select id="findByUsername" parameterType="java.lang.String" resultMap="UserModelResultMap">
		SELECT
			*
		FROM 
			sys_users
		<where>
			USERNAME = #{username}
		</where>
	</select>
	
</mapper>