<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysResourceMapper">

	<resultMap id="ResourceResultMap" type="com.my.resource.model.SysResource" extends="com.my.common.dao.SysResourcesMapper.BaseResultMap">
		<result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
		<collection property="subResources" javaType="ArrayList" column="{resourceId=RESOURCE_ID,resourceType=RESOURCE_TYPE,roleId=ROLE_ID}" select="findSubResources" />
		<collection property="styles" javaType="ArrayList" column="RESOURCE_ID" select="SysStyleMapper.findByResourceId" />
	</resultMap>

	<resultMap id="AuthResourceResultMap" type="com.my.resource.model.SysResource" extends="com.my.common.dao.SysResourcesMapper.BaseResultMap">
		<collection property="roles" javaType="ArrayList" column="RESOURCE_ID" select="SysRoleMapper.findByResourceId" />
	</resultMap>

	<select id="findAllAuth" resultMap="AuthResourceResultMap">
		SELECT
		<include refid="com.my.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<![CDATA[
		WHERE
		RESOURCE_PATH IS NOT NULL
		AND
		RESOURCE_PATH <> '#'
		]]>
	</select>
	
	<select id="findByT" resultMap="AuthResourceResultMap" parameterType="com.my.resource.model.SysResource">
		SELECT
		<include refid="com.my.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<where>
		<if test="resourceType != null">
			RESOURCE_TYPE = #{resourceType}
		</if>
		</where>
	</select>

	<select id="findNavResourceByRoleId" resultMap="ResourceResultMap" parameterType="java.lang.String">
		SELECT
		t1.RESOURCE_ID,
		t1.RESOURCE_TYPE,
		t1.RESOURCE_NAME,
		t1.RESOURCE_DESC,
		t1.RESOURCE_PATH,
		t1.PRIORITY,
		t1.ENABLED,
		t1.IS_SYS,
		t1.MODULE_ID,
		t2.ROLE_ID
		FROM
		sys_resources t1,sys_roles t2
		WHERE
		t1.RESOURCE_TYPE = '0'
		AND
		t1.PRIORITY = 0
		AND
		t2.ROLE_ID = #{roleId}
	</select>

	<select id="findSubResources" parameterType="HashMap" resultMap="ResourceResultMap">
		SELECT
		t1.RESOURCE_ID,
		t1.RESOURCE_TYPE,
		t1.RESOURCE_NAME,
		t1.RESOURCE_DESC,
		t1.RESOURCE_PATH,
		t1.PRIORITY,
		t1.ENABLED,
		t1.IS_SYS,
		t1.MODULE_ID,
		t2.ROLE_ID
		FROM
		sys_resources t1
		JOIN
		sys_roles_resources t2
		ON
		t1.RESOURCE_ID = t2.RESOURCE_ID
		WHERE
		t1.PARENT_ID = #{resourceId}
		AND
		t1.RESOURCE_TYPE = #{resourceType}
		AND
		t2.ROLE_ID = #{roleId}
	</select>

</mapper>
