<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysResourceMapper">

	<resultMap id="ResourceResultMap" type="com.my.resource.model.SysResource" extends="com.my.common.dao.SysResourcesMapper.BaseResultMap">
		<collection property="styles" javaType="ArrayList" column="RESOURCE_ID" select="getStyles" />
	</resultMap>

	<select id="queryAll" resultMap="ResourceResultMap">
		SELECT
		<include refid="com.my.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<![CDATA[
		WHERE
		RESOURCE_PATH IS NOT NULL
		AND
		RESOURCE_PATH <> '#'
		]]>
	</select>
	<select id="getStyles" parameterType="java.lang.String" resultMap="com.my.common.dao.SysStylesMapper.BaseResultMap">
		SELECT
		t1.STYLE_NAME,t1.ICON_NAME
		FROM
		sys_styles t1
		JOIN
		sys_resources_styles t2
		ON
		t1.STYLE_ID = t2.STYLE_ID
		WHERE
		t2.RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
	</select>

</mapper>
