<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuModel">
	<resultMap id="BaseResultMap" type="com.my.menu.model.MenuModel">
		<collection property="subMenu" javaType="ArrayList" column="{id=ID,type=TYPE}" select="getSubMenu" />
	</resultMap>
	<select id="queryAll" parameterType="com.my.menu.model.MenuModel" resultMap="BaseResultMap">
		select
		*
		from menu
		<where>
			<if test="type != null and type!=''">
				TYPE
			</if>
			<if test="fatherId != null and fatherId != ''">
				AND FATHER_ID = #{fatherId}
			</if>
		</where>
	</select>

	<select id="getSubMenu" parameterType="HashMap" resultMap="BaseResultMap">
		SELECT
		*
		FROM
		menu
		WHERE
		FATHER_ID = #{id} And TYPE = #{type}
	</select>
</mapper>