<html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="ICEARTÂÜ∞Ëâ∫"> 
<meta name="description" content="ICEARTÂÜ∞Ëâ∫ÁΩëÈ°µËÆæËÆ°ÔºåÁßªÂä®ËÆæÂ§áÔºåÂπ≥Èù¢Â™í‰ΩìÁõ∏ÂÖ≥ËÆæËÆ°Âª∫ËÆæ."> 
<title>Extraterrestrial|Logo Icon|ICEARTÂÜ∞Ëâ∫¬∑‰∏ìÊ≥®ÂÜ∞Ëâ∫ÁΩëÁªúÂìÅÁâåÂª∫ËÆæÔºàÂ∑•‰ΩúÂÆ§Ôºâ</title>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="../inc/main.css" tppabs="http://www.iceart.me/inc/main.css" />
<script src="../inc/jquery-1.7.2.min.js" tppabs="http://www.iceart.me/inc/jquery-1.7.2.min.js"></script>
<script src="../inc/fancyzoom/fancyzoom.js" tppabs="http://www.iceart.me/inc/fancyzoom/fancyzoom.js"></script>
</head>
<body class="body_case" onselectstart="return false">
<div class="header">
	<div class="container">
		<a href="../index.htm" tppabs="http://www.iceart.me/" class="fl logo"></a>
		<div class="fr">
			<a href="../index.htm" tppabs="http://www.iceart.me/" class="btn1"></a>
			<a href="../case.htm" tppabs="http://www.iceart.me/case" class="btn2 btn2_fire"></a>
			<a href="../contacts.htm" tppabs="http://www.iceart.me/contacts" class="btn3"></a>
			<a href="../about.htm" tppabs="http://www.iceart.me/about" class="btn4"></a>
			<a href="../blog/index.htm" tppabs="http://www.iceart.me/blog" class="btn5"></a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="banner">

	<div class="title">
		<img src="../inc/img/banner_title_case.png" tppabs="http://www.iceart.me/inc/img/banner_title_case.png">
	</div>
	<div class="nav2">
		<div  class="container">
		<ul>
			<li class="location">LOCATION</li>			<li ><a href="../index.htm" tppabs="http://www.iceart.me/" title='Home'>Home</a></li>
						<li ><a href="../case.html" tppabs="http://www.iceart.me/case.html" title='Case'>Case</a></li>
						<li class="last"><a href="../case.html" tppabs="http://www.iceart.me/case.html" title='Logo Icon'>Logo Icon</a></li>
						
		</ul>
		<span class="fr"><a href="javascript:if(confirm('http://www.hanicecloud.cn/  \n\nŒƒº˛≤¢Œ¥“¿ Teleport Pro »°ªÿ£¨“ÚŒ™ À¸µƒ”ÚªÚ¬∑æ∂≥¨π˝ø™ ºÕ¯÷∑÷–…Ë÷√µƒ∑∂Œß°£  \n\nƒ„“™¥”∑˛ŒÒ∆˜…œ¥Úø™À¸¬£ø'))window.location='http://www.hanicecloud.cn/'" tppabs="http://www.hanicecloud.cn/">2010Edition</a></span>
		<div class="clear"></div>
		</div>
		<div class="bj2"></div>
	</div>
	
</div>
<div class="body"><div class="container"> <div class="case_btn">
	<a href="../case.htm#1" tppabs="http://www.iceart.me/case#1" class="btn1 " id='x0'></a>
	<a href="../case.htm#2" tppabs="http://www.iceart.me/case#2" class="btn2 " id='x1'></a>
	<a href="../case.htm#3" tppabs="http://www.iceart.me/case#3" class="btn3 x btn3_fire" style="height:96px;" id='x2'></a>
	<a href="../case.htm#4" tppabs="http://www.iceart.me/case#4" class="btn4 " id='x3'></a>
</div>
 
<div class="case_article_desc_bg">
	<img class="fl" src="../inc/upload_img/262x148/2012-07/16-09-12c1278cb9b670e3ace6079ee40dd56672461.png" tppabs="http://www.iceart.me/inc/upload_img/262x148/2012-07/16-09-12c1278cb9b670e3ace6079ee40dd56672461.png" >
	<div class="fl desc">
		<div><h1>Extraterrestrial</h1></div>
		<div>Industry : Logo Icon		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Time : 2012-07-25		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Copyright : IceArt		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Source : <a href="../index.htm" tppabs="http://www.iceart.me/" target="_blank">http://www.iceart.me/</a>
		</div>
		<div><span class="fl">Color : </span><span class="case_btn_split2">		<span class="btn3"></span>
				<span class="btn4"></span>
				<span class="btn7"></span>
				</span>
		
		<div class="clear"></div> 
		</div>
		
		<div class="desc_body"></div>
	</div>
	
</div>
<div style="height:228px">&nbsp;</div>
<div class="article_work_body">
<p>
	<img src="../inc/upload_img/0x0/2012-07/16-09-33a0c681af1886585d6e3de956dc24cce3634.jpg" tppabs="http://www.iceart.me/inc/upload_img/0x0/2012-07/16-09-33a0c681af1886585d6e3de956dc24cce3634.jpg" /></p>
</div>
<div class="up_down">

	<div class="fl">
		<!-- Baidu Button BEGIN -->
			<div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="../../bdimg.share.baidu.com/static/images/type-button-1.jpg" tppabs="http://bdimg.share.baidu.com/static/images/type-button-1.jpg" />
			</div>
		<script type="text/javascript" id="bdshare_js" data="type=button&amp;mini=1&amp;uid=775140" ></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
		</script>
		<!-- Baidu Button END -->
	</div>
	<div class="fr">
		<a href="../article/show/93.html" tppabs="http://www.iceart.me/article/show/93.html" id="article_up"></a>
		
		<a href="../article/show/95.html" tppabs="http://www.iceart.me/article/show/95.html" id="article_down"></a>
	</div>
	<div class="clear"></div>
	</div>
	</div>
	<div class="out out_case">
		<div class="m">
		<a href="javascript:void(0);" onclick="history.go(-1)" class="btn1"></a>
		<a href="javascript:if(confirm('http://weibo.com/icewebdesign  \n\nŒƒº˛≤¢Œ¥“¿ Teleport Pro »°ªÿ£¨“ÚŒ™ À¸µƒ”ÚªÚ¬∑æ∂≥¨π˝ø™ ºÕ¯÷∑÷–…Ë÷√µƒ∑∂Œß°£  \n\nƒ„“™¥”∑˛ŒÒ∆˜…œ¥Úø™À¸¬£ø'))window.location='http://weibo.com/icewebdesign'" tppabs="http://weibo.com/icewebdesign" class="btn2" target=_blank></a>
		<a href="../ice/index.htm" tppabs="http://www.iceart.me/ice/" class="btn3" target=_blank></a>
		<a href="../iceblog/index.htm" tppabs="http://www.iceart.me/iceblog/" class="btn4" target=_blank></a>
		<a href="../dream/index.htm" tppabs="http://www.iceart.me/dream/" class="btn5" target=_blank></a>
		<div class="clear"></div>
		</div>
	</div>
	<div class="copy">
			Copyright &copy; 2010-2014 <span>IceArt</span> All Internet
	</div>
</div>

<div class="footer"></div>

  <div class="tj" style="display:none;"><script src="../../s11.cnzz.com/stat.php-id=2715379&web_id=2715379" tppabs="http://s11.cnzz.com/stat.php?id=2715379&web_id=2715379" language="JavaScript"></script>
</body>
</html>
<script>
function xbtn(obj,back_y)
	{
		
		$(obj).each(function(){
			var this_event=null;
			$(this).addClass("xbtn").html($(this).html()+"<span class='xbtn_span'></span>");
			var xy;
			if( $(this).css('background-position') == undefined)
			{
				xy=[$(this).css('background-position-x'),$(this).css('background-position-y')];
			}
			else
			{
				xy=$(this).css('background-position').split(' ');
			}

			$('.xbtn_span' , this).css({
				'background-image':$(this).css('background-image'),
				'background-position': xy[0]+' '+back_y
			}).hover(function(){
					var obj= this;
					function go()
					{
						
						var v=$(obj).css('opacity')-0+0.1;
						
						if( v <=1 && this_event=='in')
						{
							if (v>0.9)
							{
								v=1;
							}
							$(obj).css({
								'opacity':v,
								'filter':'alpha(opacity='+(v*100)+')'
							});
							setTimeout(go,50);
						}
					}
					this_event='in';
					go();
					
			},function(){
			
					var obj= this;
					function go()
					{
						var v=$(obj).css('opacity')-0.1;
						if(v<0.1){v=0;}
						if( v >=0 && this_event=='out')
						{		
							$(obj).css({
								'opacity':v,
								'filter':'alpha(opacity='+(v*100)+')'
							});
							
							setTimeout(go,50);
							
						}
					}
					this_event='out';
					go();
			});
			
			
		});
		
	}
$(function(){
	
	xbtn(".header .btn1,.header .btn2,.header .btn3,.header .btn4,.header .btn5",'-41px');
	xbtn(".out .btn1,.out .btn2,.out .btn3,.out .btn4,.out .btn5",'-93px');
	xbtn(".logo",'-38px');
	
	$(document).mousemove(function(e) {
		var offset=$(document).width()/2-e.clientX;
		$(".banner").css({"background-position":( ($(document).width()-1600)/2+offset/4 -100 )+"px 0px"});
		
	});

	function foot_scroll()
	{
		if($(document).scrollTop() < ($(document).height()-$(window).height())*0.7 )
		{
			$('.footer').animate({'bottom':'-278px'},800,function(){setTimeout(foot_scroll,500);});
		}
		else
		{
			$('.footer').animate({'bottom':'0px'},800,function(){setTimeout(foot_scroll,500);});
		}
	}
	foot_scroll();
	
	 

		
});
</script><script>
$(function(){
	xbtn(".up_down .fr a",'-41px');
	
	$('.case_btn a').hover(function(){
		var fire_class='btn'+($(this).attr('id').replace('x')-0+1)+'_fire';
		if( ! $(this).hasClass('x'))
		{
			$(this).css({'background-position-y':'-100px'}).stop().animate({'height':'96px'},400);
		}
	},function(){
		var fire_class='btn'+($(this).attr('id').replace('x')-0+1)+'_fire';
		if( ! $(this).hasClass('x'))
		{
			$(this).css({'background-position-y':'0px'}).stop().animate({'height':'65px'},400);
		}
	});
});
</script>